*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
body{
 font-family: 'Times New Roman', Times, serif;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

}

h3{
    color: dimgray;
}
img{
    width: 250px;
    height: 250px;
}
p{
    color: dimgray;

}

body{
    background-color: rgb(135, 158, 135);
}
ol{
    color: dimgray;
}